
.image-form {
  text-align: center;
  fieldset {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 1rem;
      font-size: 1.2em;
      font-weight: 600;
      input, textarea {
        text-align: center;
        font-size: 1rem;
        display: block;
        margin: auto;
        margin-top: .5rem;
        width: 100%;
        border-radius: .4rem;
        padding: .4rem;
      }
    }
  }
  button {
    font-weight: 600;
    width: 100%;
    padding: .4rem;
    font-size: 1.5rem;
    border-radius: .5rem;
    &:hover {
      cursor: pointer;
    }
  }
}
